@import "./main/stylesheet";
@import "./main/reset";

$tablet: 1139px;
$mobile : 799px;

$blue: #000;
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  background: #fff;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: $tablet) {
  .container {
    width: 800px;
  }
}
@media screen and (max-width: $mobile) {
  .container {
    width: 100%;
  }
}


.first-section {
  background: #EEEFF1;
  padding: 0 0 50px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__img {}
  &__bottom {
    display: flex;
    flex-wrap: wrap;
  }
  &__img-wrap,
  &__content {
    max-width: 50%;
    flex: 0 0 50%;
  }
  &__img2 {
    max-width: 100%;
  }
  &__title {
    margin: 0 0 20px;
  }
  &__text {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: $mobile) {
  .first-section {
    &__bottom {
      display: block;
      text-align: center;
    }
    &__img-wrap {
      margin: 0 0 30px;
    }
    &__img-wrap,
    &__content {
      max-width: 100%;
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: blue;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-left: 30px;
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.3s;
    &:hover,
    &.active {
      color: blue;
    }
  }
}

.nav__link:hover,
.nav__link.active {
  color: blue;
}

.about-section {
  text-align: center;
  padding: 50px 0;
  &__title {
    margin: 0 0 30px;
  }
  &__content {
    display: inline-block;
    max-width: 540px;
    p {
      margin: 0 0 15px;
    }
  }
}

.h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.projects {
  background: #34547A;
  padding: 50px 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.project {
  display: flex;
  color: #fff;
  &__img-wrap {
    max-width: 50px;
    flex: 0 0 50px;
  }
  &__img {
    max-width: 100%;
  }
  &__content {
    max-width: calc(100% - 50px);
    flex: 0 0 calc(100% - 50px);
    padding-left: 15px;
  }
  &__title {
    font-weight: 500;
  }
  &__text {}
}

@media screen and (max-width: $tablet) {
  .project {
    margin: 0 0 15px;
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
  }
}
