extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    section.first-section
        .container
            .first-section__top
                a.first-section__logo(href="#")
                    img.first-section__img(src="./assets/imgs/logo.svg" alt="logo")
                nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#") Главная
                        li.nav__item
                            a.nav__link(href="#") Об авторе
                        li.nav__item
                            a.nav__link.active(href="#") Работа
                        li.nav__item
                            a.nav__link(href="#") Процесс
                        li.nav__item
                            a.nav__link(href="#") Контакты
            .first-section__bottom
                .first-section__img-wrap
                    img(src="./assets/imgs/dectop.svg" alt="deck").first-section__img2
                .first-section__content
                    h1.first-section__title.h1 Дизайн и верстка
                    p.first-section__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    .first-section__btn
                        a(href="#").btn Написать мне

